@import url("bootstrap.css");

.bs-sidenav {
    background-color: #fff;
    border-left: 1px solid #f7f5fa;
    border-radius: 0px;
}

a.headerlink {
    color: #fff;
}

a.headerlink:hover {
    color: #337ab7;
}
